#### 목적에 맞춰서 데이터를 준비하고 다듬는 방법을 알아보자

In [3]:
import pandas as pd
import os

#### 1. 데이터 병합
- contact
- 4, 5, 6월 pay-info 데이터를 각각 불러와서 한개의 df로 병합

In [8]:
print(os.getcwd())

/Users/kimhyerim/workspace/SWDataAnalysisClass/pythonStudy/LIB

In [10]:
# 작업 디렉토리 변경
os.chdir('data')

In [12]:
print(os.getcwd())

/Users/kimhyerim/workspace/SWDataAnalysisClass/pythonStudy/LIB/data

In [16]:
os.listdir(os.getcwd())

['mpg.csv',
 '월별지급',
 '.DS_Store',
 'score.csv',
 'Traffic_Accident_2017.csv',
 'ratings.dat',
 '2015.csv',
 'temp.txt',
 '2016.csv',
 '2017.csv',
 'hr-info.csv',
 '.ipynb_checkpoints']

In [19]:
os.listdir('월별지급')

['hr-pay-info-5월.csv',
 '.DS_Store',
 'hr-pay-info-4월.csv',
 'hr-pay-info-6월.csv']

In [23]:
file_names = os.listdir('월별지급')
file_names

['hr-pay-info-5월.csv',
 '.DS_Store',
 'hr-pay-info-4월.csv',
 'hr-pay-info-6월.csv']

In [27]:
file_names[0]

'hr-pay-info-5월.csv'

In [29]:
file_names[1]

'.DS_Store'

In [31]:
file_names[2]

'hr-pay-info-4월.csv'

In [33]:
'월별지급/' + file_names[0]

'월별지급/hr-pay-info-5월.csv'

In [35]:
pay_df_list = []
for fn in file_names:
    if fn != '.DS_Store':
        df = pd.read_csv('월별지급/' + fn, encoding = 'euc-kr') # 파일을 불러와서 df에 넣어줌
        pay_df_list.append(df) # df를 리스트에 추가

In [37]:
pay_df_list

[        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240501           월급             850
 1    E00181    20240501           월급             791
 2    E00164    20240501           월급             758
 3    E00190    20240501           월급             708
 4    E00209    20240501           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240501           월급             375
 147  E00389    20240501           월급             375
 148  E00438    20240501           월급             375
 149  E00304    20240501           월급             375
 150  E00428    20240501           월급             375

 [151 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240401           월급             850
 1    E00181    20240401           월급             791
 2    E00164    20240401           월급             758
 3    E00190    20240401           월급             708
 4    E00209    20240401           월급             716
 ..      ...         ...          ...             ...
 448  E00322    20240401          상여금             300
 449  E00389    20240401          상여금             300
 450  E00438    20240401          상여금             300
 451  E00304    20240401          상여금             300
 452  E00428    20240401          상여금             300

 [453 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240601           월급             850
 1    E00181    20240601           월급             791
 2    E00164    20240601           월급             758
 3    E00190    20240601           월급             708
 4    E00209    20240601           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240601           월급             375
 147  E00389    20240601           월급             375
 148  E00438    20240601           월급             375
 149  E00304    20240601           월급             375
 150  E00428    20240601           월급             375

 [151 rows x 4 columns]]

In [39]:
# 데이터 병합
total_df = pd.concat(pay_df_list)

In [41]:
total_df

        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206    20240501           월급             850
1    E00181    20240501           월급             791
2    E00164    20240501           월급             758
3    E00190    20240501           월급             708
4    E00209    20240501           월급             716
..      ...         ...          ...             ...
146  E00322    20240601           월급             375
147  E00389    20240601           월급             375
148  E00438    20240601           월급             375
149  E00304    20240601           월급             375
150  E00428    20240601           월급             375

[755 rows x 4 columns]

In [43]:
# csv 파일로 저장
total_df.to_csv('total_pay_info.csv')

#### org_info 데이터(조직정보)에 각 조직별 조직 인원수, 평균나이, 평균근무년수, 평균연봉 확인

In [58]:
# 조직 정보 데이터 확인
org_info = pd.read_csv('org-info.csv', encoding = 'euc-kr', index_col = 'ORG_CD') # 부서별 코드를 인덱스 번호로 지정
org_info.head(1)

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role
ORG_CD,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.

In [56]:
# 인사정보 데이터 확인
hr_info = pd.read_csv('hr-info.csv', encoding = 'euc-kr') # 부서별 코드를 인덱스 번호로 지정
hr_info.head(1)

,EID,ENAME,GENDER,ORG_CD,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
0,E00206,시이오,M,NaN,P001,49,25,박사 학위,4.5,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y

In [62]:
# 조직별 인원수
hr_info.groupby('ORG_CD').count().head(1)

# 조직 정보 데이터와 공통적으로 갖고 있는 컬럼 => ORG_CD
# ORG_CD 컬럼을 기준으로 groupby 진행

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
ORG001,6,6,6,6,6,6,6,6,6,5,6,6,6,6,1,1,1,6,6

In [79]:
# hr_info에서 groupby를 이용해서 조직 인원수, 평균 나이, 평균 근무 년수, 평균 연봉 계산한 df 만들기
org_agg = hr_info.groupby('ORG_CD').agg({
    'ENAME' : 'count',
    'AGE' : 'mean',
    'SERVICE_YEAR' : 'mean',
    'SALARY' : 'mean'
}).round(2)
org_agg

        ENAME    AGE  SERVICE_YEAR   SALARY
ORG_CD
ORG001      6  26.17          0.33  5033.33
ORG002      4  34.00          7.50  6550.00
ORG003      5  34.60          7.60  6480.00
ORG004     11  35.18          7.00  6445.45
ORG005      8  29.25          2.00  5525.00
ORG006      6  30.83          4.17  5966.67
ORG007      7  36.71          8.00  6728.57
ORG008      5  32.40          5.20  6020.00
ORG009      5  29.80          2.20  5520.00
ORG010      3  33.33          5.67  6300.00
ORG011      5  37.40          8.40  6660.00
ORG012      5  29.60          2.60  5680.00
ORG013      8  32.62          3.62  5950.00
ORG014      8  32.75          5.00  6025.00
ORG015      3  24.67          0.00  5000.00
ORG016      8  35.00          7.25  6500.00
ORG017     10  29.40          2.70  5520.00
ORG018      6  30.33          3.00  5716.67
ORG019     10  29.30          2.40  5440.00
ORG020      3  26.33          0.33  5066.67
ORG021     12  34.25          6.67  6400.00
ORG022      4  32.50          3.75  6025.00
ORG023     12  30.42          3.08  5658.33
ORG024      5  30.20          4.40  5740.00
ORG025      8  31.12          5.50  6200.00
ORG026      5  26.40          0.40  5140.00
ORG027      7  33.14          5.71  6228.57
ORG028      4  34.00          5.25  6150.00
ORG029      4  35.50          6.50  6275.00
ORG030     10  29.20          2.40  5550.00

In [81]:
# org-info 와 조직 구성원 데이터에서 추출한 df를 열 방향으로 병합
# 주의할 점: concat을 이용한 열방향 병합시, 각 DataFrame의 인덱스를 같게해야 올바른 병합이 일어남

org_info_new = pd.concat([org_info, org_agg], axis = 1)
org_info_new

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role,ENAME,AGE,SERVICE_YEAR,SALARY
ORG_CD,,,,,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.,6,26.17,0.33,5033.33
ORG002,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Marketing Team,TV 마케팅 팀,"TV 제품의 시장 진입 전략을 수립하고, 광고 및 프로모션 활동을 기획합니다.",4,34.00,7.50,6550.00
ORG003,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Customer Support Team,TV 고객 지원 팀,TV 고객 지원 서비스 제공 및 고객 만족도를 높이기 위한 해결책을 제공합니다.,5,34.60,7.60,6480.00
ORG004,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Core Development Team,webOS 핵심 개발 팀,webOS 플랫폼의 핵심 기능 개발 및 유지보수를 담당합니다.,11,35.18,7.00,6445.45
ORG005,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS User Interface Team,webOS 사용자 인터페이스 팀,webOS의 사용자 인터페이스 디자인 및 개선을 담당합니다.,8,29.25,2.00,5525.00
ORG006,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Quality Assurance Team,webOS 품질 보증 팀,webOS 소프트웨어의 품질 검증 및 테스트를 수행합니다.,6,30.83,4.17,5966.67
ORG007,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Global Sales Strategy Team,글로벌 판매 전략 팀,"글로벌 판매 전략을 수립하고, 주요 시장에서의 판매 목표를 설정합니다.",7,36.71,8.00,6728.57
ORG008,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Key Account Management Team,주요 고객 관리 팀,"주요 고객과의 관계를 관리하고, 맞춤형 솔루션을 제공합니다.",5,32.40,5.20,6020.00
ORG009,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Customer Insights Team,고객 통찰 팀,"고객 데이터를 분석하여 인사이트를 도출하고, 이를 기반으로 제품 및 서비스 개선안을...",5,29.80,2.20,5520.00
ORG010,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Asia Regional Sales Team,아시아 지역 판매 팀,"아시아 지역에서의 판매 활동을 관리하고, 시장 진입 전략을 수립합니다.",3,33.33,5.67,6300.00
ORG011,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Project Management Team,프로젝트 관리 팀,"프로젝트 계획 수립 및 실행, 리소스 관리 및 일정 관리를 담당합니다.",5,37.40,8.40,6660.00
ORG012,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Technical Sales Support Team,기술 영업 지원 팀,"기술적 지원을 제공하여 고객의 요구사항을 해결하고, 제품의 기술적 장점을 설명합니다.",5,29.60,2.60,5680.00
ORG013,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Appliance Development Team,주방 가전 개발 팀,주방 가전 제품의 개발 및 설계를 담당합니다.,8,32.62,3.62,5950.00
ORG014,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Product Marketing Team,주방 제품 마케팅 팀,주방 제품의 마케팅 전략 수립 및 실행을 담당합니다.,8,32.75,5.00,6025.00
ORG015,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Customer Service Team,주방 고객 서비스 팀,주방 가전 제품에 대한 고객 지원 및 서비스 제공을 담당합니다.,3,24.67,0.00,5000.00
ORG016,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India B2B Sales Team,인도 B2B 판매 팀,"인도 지역 B2B 판매 활동을 관리하고, 고객 맞춤형 솔루션을 제공합니다.",8,35.00,7.25,6500.00
ORG017,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Market Analysis Team,인도 시장 분석 팀,인도 시장에 대한 분석을 통해 시장 전략을 수립합니다.,10,29.40,2.70,5520.00
ORG018,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Customer Support Team,인도 고객 지원 팀,인도 지역 고객에 대한 지원 및 서비스를 제공합니다.,6,30.33,3.00,5716.67
ORG019,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,Innovation Research Team,혁신 연구 팀,신기술 연구 및 혁신적인 제품 개발을 주도합니다.,10,29.30,2.40,5440.00
ORG020,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,New Business Development Team,신사업 개발 팀,"새로운 비즈니스 기회를 발굴하고, 사업화를 추진합니다.",3,26.33,0.33,5066.67
ORG021,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,North America Sales Team,북미 판매 팀,북미 지역 판매 전략 수립 및 실행을 담당합니다.,12,34.25,6.67,6400.00
ORG022,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Process Improvement Team,생산 공정 개선 팀,생산 공정의 효율성을 개선하고 최적화하는 작업을 수행합니다.,4,32.50,3.75,6025.00
ORG023,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Advanced Manufacturing Team,첨단 제조 팀,첨단 제조 기술 개발 및 생산성 향상 작업을 수행합니다.,12,30.42,3.08,5658.33
ORG024,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Quality Control Team,생산 품질 관리 팀,"생산 품질을 관리하고, 품질 문제를 해결합니다.",5,30.20,4.40,5740.00
ORG025,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Talent Acquisition Team,인재 채용 팀,"인재 채용 전략 수립 및 실행, 채용 프로세스 관리.",8,31.12,5.50,6200.00
ORG026,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Employee Development Team,직원 개발 팀,직원 교육 및 개발 프로그램 기획 및 실행.,5,26.40,0.40,5140.00
ORG027,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Compensation and Benefits Team,보상 및 복리후생 팀,직원 보상 및 복리후생 제도 관리.,7,33.14,5.71,6228.57
ORG028,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Parts Development Team,부품개발팀,세탁기 부품의 개발 및 개선을 담당합니다.,4,34.00,5.25,6150.00
ORG029,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Analysis Team,분석팀,세탁기 성능 및 사용자 로그 데이터를 분석하고 보고서를 작성합니다.,4,35.50,6.50,6275.00
ORG030,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Information Management Team,정보관리팀,"세탁기 관련 정보의 수집, 저장, 관리 및 배포를 담당합니다.",10,29.20,2.40,5550.00

merge
- 공통된 컬럼을 기준으로 양쪽의 데이터를 병합할 때 사용
- 데이터 베이스