### Series: 1차원 데이터 자료 형식
- 인덱스 + 값으로 구성

Series 만들기
- 각 도시들의 인구수를 Series로 만들어보자

In [8]:
import pandas as pd

In [12]:
# Series 만들기
# Pandas의 Series 함수 사용

pop = pd.Series([9901232, 3441423, 2891323, 2462123])
pop

0    9901232
1    3441423
2    2891323
3    2462123
dtype: int64

In [18]:
# 인덱스 각각에 이름을 부여
# Series.index = [값, 값, ...]

pop.index = ['서울', '부산', '인천', '대구']
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [24]:
# 이름을 재설정
# Series.rename({기존값:바꿀값})

pop.rename({'서울':'써울'})

써울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [30]:
# Series의 인덱스 이름을 부여해서 만들기

pop = pd.Series([9901232, 3441423, 2891323, 2462123],
               index = ['서울', '부산', '인천', '대구']
               )

pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [34]:
# 딕셔너리로 Series 생성
# 딕셔너리의 키값이 인덱스의 이름으로 들어감
pop = pd.Series({'서울' : 9901232, '부산': 3441423, '인천': 2891323, '대구': 2462123})
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [38]:
# Series에 이름을 부여하기

pop.name = '인구수'
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구수, dtype: int64

In [40]:
# Series의 인덱스 전체(그룹)에 이름을 부여하기

pop.index.name = '도시'
pop

도시
서울    9901232
부산    3441423
인천    2891323
대구    2462123
Name: 인구수, dtype: int64